<!-- <stbui-loading *ngIf="showLoading"></stbui-loading> -->
<mat-toolbar class="mat-elevation-z4">
  <button
    mat-icon-button
    (click)="sidenav.toggle(); drawer.toggle()"
    *ngIf="matDrawerShow"
  >
    <i class="material-icons app-toolbar-menu">menu </i>
  </button>
  <button mat-icon-button (click)="sidenav.toggle()" *ngIf="!matDrawerShow">
    <i class="material-icons app-toolbar-menu">menu </i>
  </button>
  <div fxLayout fxLayoutGap style="text-align: center">
    <img
      class=""
      [src]="'assets/chennaipolicelogo.png'"
      width="69"
      height="69"
    />
    <p class="marvalCandidatePortalText">Marval Candidate Portal</p>
  </div>
  <span class="spacer"></span>

  <app-fullscreen></app-fullscreen>

  <app-toolbar-notification
    [notifications]="toolbarHelpers.notifications!"
  ></app-toolbar-notification>
  <app-user-menu [currentUser]="toolbarHelpers.currentUser"></app-user-menu>

  <button mat-icon-button (mouseover)="sidebar.toggle()" *ngIf="false">
    <i class="material-icons app-toolbar-menu">menu </i>
  </button>
</mat-toolbar>
