.expansion-header {
  background-color: #327ebd;
  color: white;
  padding: 0 5px;
}
.expansion-container {
  padding: 5px;
  // color: white;
}
.expansion-component-holder {
  border: 1px solid #327ebd;
  background-color: white;

  h4 {
    color: #327ebd;
    margin: 14px 0;
  }

  mat-divider {
    margin-bottom: 10px;
  }
}


@media (min-height:300px) and (max-height:780px) {
  .report-height{
      height: 600px;
  }
}


@media (min-height:780px) and (max-height:1080px) {
  .report-height{
      height: 1000px;
  }
}

@media (min-height:1080px) and (max-height:1440px) {
  .report-height{
      height: 1400px;
  }
}


.report-loader{
  margin: 15% 46%;
}