h1 {
    text-align: center;
  }
  
  :host ::ng-deep .ck-editor__editable_inline {
    min-height: 300px;
    max-height: 300px;
    width: 1000px;
  }
  
  :host ::ng-deep .ck.ck-toolbar {
    max-width: 1021px;
  }
  
  @keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
  :host ::ng-deep .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
  }
  
  :host ::ng-deep .center {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(36%);
    -moz-transform: translateX(-50%) translateY(36%);
    -webkit-transform: translateX(-50%) translateY(36%);
  }
  